@model Project.Models.ContactQuery

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class=" row">
    <div class="col-md-6">
        <h3>@ViewBag.Message</h3>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Изпратете запитване</h4>

                <div class="form-group has-error">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Лице за контакт" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group has-error">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Еmail" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group has-error">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Телефон" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group has-error">
                    <div class="col-md-10" >
                        @Html.EditorFor(model => model.MessageText, new { htmlAttributes = new { @class = "form-control", placeholder = "Вашето запитване...", @rows = "5" } })
                        @Html.ValidationMessageFor(model => model.MessageText, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group has-error">
                    <div class="col-md-10">
                        @Html.ActionLink("Изчисти", "Clear", null, new { @class = "btn btn-default", style = "border-color: #b94a48" })
                        <input type="submit" value="Изпрати" class="btn btn-success" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
